<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gamalinda.android.poc.app"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"
              android:targetSdkVersion="21"/>
    <uses-permission android:name="ANDROID.PERMISSION.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE"/>
    <application android:name=".Main" android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".activity.MainActivity_"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CustomTabNavigation_"
                  android:label="@string/custom_tab_navigation"
                android:parentActivityName=".activity.MainActivity_"/>
        <activity android:name=".activity.DrawerNavigation_"
                  android:label="@string/drawer_navigation"/>
    </application>
</manifest>
